  .container{
    height: 100vh;
    position: relative;
  }
  .col{
   display: flex;
   width:100%;
   gap: 1rem;
   } 
   .main{
    display: flex;
    
    justify-content: center;
    align-items: center;
      &__list{
          display: flex;
          gap:1rem;
      }
      width:100%;
    }